
<html>
    <head>
<link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                 <!-- left side div -->
                 <div class="col-md-10 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="../images/404.jpg " alt="Ak" class="img-fluid" title="BLACKBULL INFOTECH">
                    </figure>
               
                  <p>Welcome To Blackbull Technologies</p>
                  <h1 class="mes">{{errorMsg}}</h1>
                  <a href="/"><button>go back</button></a>
              </div>   
              <!-- right side div -->
              
            </div>
        </div>
    </div>
 </div>

    </body>
</html>

