<!DOCTYPE html>
<html lang="en">

<head>
  <title>BLACKBULL TECHNOLOGIES</title>
  <meta charset="UTF-8">
  <link rel="icon" href="../images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <link rel="stylesheet" href="https://dixso.github.io/custombox/dist/custombox.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="//code.tidio.co/cjtp05f86do3mq3edg4tyysjvzonggdj.js" async></script>
 
  <script src="https://unpkg.com/popper.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/react-intl/1.2.2/locale-data/bas.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <link rel="stylesheet" href="https://unpkg.com/@icon/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">

</head>

<body>



  {{!-- new orange color - #F68338 --}}

  {{>navbar}}


  {{>modal}}


  <header id="coral-one" id="gtco-header" class="gtco-cover" role="banner"
    style="background-image:url(images/img_bg_1.jpg);">
    <div class="overlay"></div>
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="display-t">
            <div class="display-tc">
              <h1 id="toly_text" class="animate-box" data-animate-effect="fadeInUp">Welcome To BlackBull Technologies
              </h1>
              <h2 class="animate-box" data-animate-effect="fadeInUp"> <em></em> <a href="" target="_blank"></a></h2>
              <p class="animate-box" data-animate-effect="fadeInUp"><a href="#contactid" id="chg"
                  class="btn btn-white btn-lg btn-outline">Get In Touch</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="gtco-features-3">
    <div class="gtco-container">
      <div class="gtco-flex">
        <div class="feature feature-1 animate-box" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="feature-inner">
            <span data-aos="zoom-in-up" data-aos-duration="1000" class="icon">
              <i class="ti ti-search"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Search</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">Searching skills is very important for make a creative
              contents for websites and applications it increases our creativity and abilities</p>
            <p data-aos="zoom-in-up" data-aos-duration="1000"><a href="#" class="btn btn-white btn-outline">Learn
                More</a></p>
          </div>
        </div>
        <div class="feature feature-2 animate-box" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="feature-inner">
            <span data-aos="zoom-in-up" data-aos-duration="1000" class="icon">
              <i class="ti ti-announcement"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Anouncement</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We are hiring a experienced developers for
              Flutter,Reactjs,Nodejs,Angular,<br />Laravel,React Native,Word Press,PHP. </p>
            <p data-aos="zoom-in-up" data-aos-duration="1000"><a href="#" class="btn btn-white btn-outline">Learn
                More</a></p>
          </div>
        </div>
        <div class="feature feature-3 animate-box" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="feature-inner">
            <span class="icon" data-aos="zoom-in-up" data-aos-duration="1000">
              <i class="ti ti-timer"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Time</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">Time is a very important factor for web and app
              development we are complete a web and app projects in client's given time periods. </p>
            <p data-aos="zoom-in-up" data-aos-duration="1000"><a href="#" class="btn btn-white btn-outline">Learn
                More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gtco-features">
    <div class="gtco-container" text-align="center">
      <div class="row">
        <div class="col-md-12 col-md-offset-2 text-center gtco-heading animate-box">
          <h2 data-aos="zoom-in-up" data-aos-duration="1000">Aesthetic Features</h2>
          <p data-aos="zoom-in-up" data-aos-duration="1000"> working features</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon" data-aos="zoom-in-up" data-aos-duration="1000">
              <i class="ti ti-vector"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Pixel Perfect</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We make a Pixel perfect design which helps to websites or
              applications guarantees attention to detail and a visually polished end result, leaving a lasting,
              professional impression on their audience</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon" data-aos="zoom-in-up" data-aos-duration="1000">
              <i class="ti ti-tablet"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Fully Responsive</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We make a fully responsive websites and applications which
              can run and support in any display sizes
              our
              website or application enhances their online presence and ensures a seamless user experience for their
              audience, regardless of the device they use to access it.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon" data-aos="zoom-in-up" data-aos-duration="1000">
              <i class="ti ti-settings"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Web & App Development</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We use various technologies to make a website and
              application which helps to clients for make a bussinesses </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon" data-aos="zoom-in-up" data-aos-duration="1000">
              <i class="ti ti-ruler-pencil"></i>
            </span>
            <h3 data-aos="zoom-in-up" data-aos-duration="1000">Web & App Design</h3>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We use various technologies for App and Web Design like
              photoshops,Angular,React Js,wordpress for websites and flutter,React Native for Applications </p>
          </div>
        </div>
      </div>
    </div>
  </div>



<div id="banner-ad" style="width: 300px; height: 250px;">
      <script>
        googletag.cmd.push(function() {
          googletag.display('banner-ad');
        });
      </script>
    </div>




  <div class="maincol  mt-5">

    <div id="lloo" class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="lost col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column aos-init">
            <h1 class="max" data-aos="zoom-in-up" data-aos-duration="1000">Mobile App & Web App Development</h1>
            <p data-aos="zoom-in-up" data-aos-duration="1000">We are a premier web and mobile app development company
              with bases in India. With <span class="bold-style"> blackbull</span>, you work with handpicked brains from
              the app development industry, who also possess business acumen. Together, we help you roll out
              applications that not just clique among the masses but fetch you profits as well. We give shape to your
              intangible ideas, turning them into profit-generating applications that solve real-world concerns.</p>
            <h2 data-aos="zoom-in-up" data-aos-duration="1000">WE WILL HELP YOU TO</h2>
            <h2 data-aos="zoom-in-up" data-aos-duration="1000">GROW YOUR BUSINESS</h2>
            <p data-aos="zoom-in-up" data-aos-duration="1000">we are the team of <span class="bold-style">professional
                developer</span> </p>
            <button data-aos="zoom-in-up" data-aos-duration="1000" class="btn-style let btn-primary"> read more</button>

          </div>


          {{!---right side----}}


          <div class="col-md-6 col-12  aos-init lost1 hero-text order-md-1 d-flex justify-items-center order-0 pl-5 ">
            <div class="ag-app-slide-carousel_box">
              <img class="mobile-dev" src="../images/screen.jpg">
              <div class="js-ag-app-slide-carousel_arr__next ag-app-slide-carousel_arr">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                  class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"></svg>
              </div>


            </div>


          </div>

        </div>
      </div>
    </div>
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#151818">
      </g>
    </svg>
  </div>


  


    {{!--hero secton end--}}

    {{!-- company goal --}}

    {{>company}}

    {{!-- company goal --}}


    {{!--about--}}

    {{>about}}

    {{!--about--}}

    {{!--services--}}
    {{>service}}
    {{!--services--}}

    {{!-- career --}}
    {{>career}}
    {{!-- career --}}

    {{!-- servapp --}}
    {{>servapp}}
    {{!-- servapp end --}}

    {{!-- engmod --}}
    {{>engmod}}
    {{!-- engmod end --}}

    {{!--portfolio--}}
    {{>portfolio}}
    {{!--porfolio end--}}


    {{>testimonial}}

    {{!--maps--}}

    {{>maps}}

    {{!--maps--}}

    {{!--contact us--}}
    
<!-- Homepage Leaderboard -->
<ins class="adsbygoogle"
style="display:inline-block;width:728px;height:90px"
data-ad-client="ca-pub-1234567890123456"
data-ad-slot="1234567890"
data-adtest="on"></ins>


    {{>contactus}}

    {{!--contact us--}}


    {{!-- footer --}}

    {{>footer}}
    {{!-- footer --}}

    {{!--
    <script src="./bootstrap.min.js" type="text/javascript"></script> --}}




    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <div class="cursor"></div>



    {{!-- disable ctrl+u --}}



    <script>
      document.onkeydown = function (e) {
        if (e.ctrlKey &&
          (e.keyCode === 67 ||
            e.keyCode === 86 ||
            e.keyCode === 85 ||
            e.keyCode === 117)) {
          return false;
        } else {
          return true;
        }
      };
      $(document).keypress("u", function (e) {
        if (e.ctrlKey) {
          return false;
        }
        else {
          return true;
        }
      });
    </script>
    {{!-- disable ctrl+u --}}




<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>




    <script>

      jQuery(window).scroll(startCounter);
      function startCounter() {
        var hT = jQuery('.count').offset().top,
          hH = jQuery('.count').outerHeight(),
          wH = jQuery(window).height();
        if (jQuery(window).scrollTop() > hT + hH - wH) {
          jQuery(window).off("scroll", startCounter);
          jQuery('.pic1').each(function () {
            var $this = jQuery(this);
            jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
              duration: 2000,
              easing: 'swing',
              step: function () {
                $this.text(Math.ceil(this.Counter) + '+');
              }
            });
          });
        }
      }
    </script>

    <script>
      const cursor = document.querySelector('.cursor');

      document.addEventListener('mousemove', e => {
        cursor.setAttribute("style", "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;")
      })

      document.addEventListener('click', () => {
        cursor.classList.add("expand");

        setTimeout(() => {
          cursor.classList.remove("expand");
        }, 500)
      })
    </script>








    <script>


      $('#portfolio-flters li').on('click', function () {
        $("#portfolio-flters li").removeClass('filter-active');
        $(this).addClass('filter-active');

        portfolioIsotope.isotope({ filter: $(this).data('filter') });
      });
    </script>





    <script>
      $(document).ready(function () {
        function detect_active() {
          // get active
          var get_active = $("#dp-slider .dp_item:first-child").data("class");
          $("#dp-dots li").removeClass("active");
          $("#dp-dots li[data-class=" + get_active + "]").addClass("active");
        }
        $("#dp-next").click(function () {
          var total = $(".dp_item").length;
          $("#dp-slider .dp_item:first-child").hide().appendTo("#dp-slider").fadeIn();
          $.each($(".dp_item"), function (index, dp_item) {
            $(dp_item).attr("data-position", index + 1);
          });
          detect_active();
        });

        $("#dp-prev").click(function () {
          var total = $(".dp_item").length;
          $("#dp-slider .dp_item:last-child").hide().prependTo("#dp-slider").fadeIn();
          $.each($(".dp_item"), function (index, dp_item) {
            $(dp_item).attr("data-position", index + 1);
          });

          detect_active();
        });

        $("#dp-dots li").click(function () {
          $("#dp-dots li").removeClass("active");
          $(this).addClass("active");
          var get_slide = $(this).attr("data-class");
          console.log(get_slide);
          $("#dp-slider .dp_item[data-class=" + get_slide + "]")
            .hide()
            .prependTo("#dp-slider")
            .fadeIn();
          $.each($(".dp_item"), function (index, dp_item) {
            $(dp_item).attr("data-position", index + 1);
          });
        });

        $("body").on("click", "#dp-slider .dp_item:not(:first-child)", function () {
          var get_slide = $(this).attr("data-class");
          console.log(get_slide);
          $("#dp-slider .dp_item[data-class=" + get_slide + "]")
            .hide()
            .prependTo("#dp-slider")
            .fadeIn();
          $.each($(".dp_item"), function (index, dp_item) {
            $(dp_item).attr("data-position", index + 1);
          });

          detect_active();
        });
      });
    </script>








    <script>
      $(window).scroll(function () {
        if ($(window).scrollTop() >= 100) {
          $('.navbar').css('background', '#000', 'transition', 'ease 0.35s');
        } else {
          $('.navbar').css('background', 'transparent');
        }
      });
    </script>


    <script>
      let navLinks = document.querySelectorAll(".carousel .nav-linkp")
      let slides = document.querySelectorAll(".carousel .slides-port img")
      let overlays = document.querySelectorAll(".carousel .bar")
      let maxZIndex = navLinks.length
      let easeInOutQuart = "cubic-bezier(0.77, 0, 0.175, 1)"
      slides[0].classList.add("active")
      navLinks[0].classList.add("active")
      navLinks.forEach((navLink, activeIndex) => {
        overlays[activeIndex].style.zIndex = `${navLinks.length - activeIndex}`
        navLink.addEventListener("click", () => {
          // nav-link
          navLinks.forEach(navLink => navLink.classList.remove("active"))
          navLink.classList.add("active")
          // slide
          let currentSlide = document.querySelector(".carousel .slides-port img.active")
          let slideFadeOut = currentSlide.animate(
            [
              { transform: "translateX(0)", opacity: 1 },
              { transform: "translateX(5%)", opacity: 0 }
            ],
            {
              duration: 600,
              easing: "ease-in",
              fill: "forwards"
            }
          )
          slideFadeOut.onfinish = () => {
            slides.forEach(slide => slide.classList.remove("active"))
            let activeSlide = slides[activeIndex]
            activeSlide.classList.add("active")
            activeSlide.animate(
              [
                {
                  transform: "translateX(-5%)",
                  opacity: 0
                },
                {
                  transform: "translateX(0)",
                  opacity: 1
                }
              ],
              { duration: 600, easing: "ease-out", fill: "forwards" }
            )
          }
          // overlay
          maxZIndex += 1
          let activeOverlay = overlays[activeIndex]
          activeOverlay.style.zIndex = `${maxZIndex}`
          activeOverlay.animate(
            [{ transform: "scaleX(0)" }, { transform: "scaleX(1)" }],
            { duration: 1200, fill: "forwards", easing: easeInOutQuart }
          )
        })
      })


    </script>



    <script>
      $(document).ready(function () {
        $('.pp-quote').click(function () {
          $('.pp-quote').removeClass("active");
          $(this).addClass("active");
        });
      });

      $(document).ready(function () {

        // hide-top

        $('.li-quote-1').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-1').addClass('show');
          $('.quote-text-1').removeClass('hide-bottom');
        });

        $('.li-quote-2').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-2').addClass('show');
          $('.quote-text-2').removeClass('hide-bottom');
        });

        $('.li-quote-3').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-3').addClass('show');
          $('.quote-text-3').removeClass('hide-bottom');
        });
        $('.li-quote-4').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-4').addClass('show');
          $('.quote-text-4').removeClass('hide-bottom');
        });
        $('.li-quote-5').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-5').addClass('show');
          $('.quote-text-5').removeClass('hide-bottom');
        });
        $('.li-quote-6').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-6').addClass('show');
          $('.quote-text-6').removeClass('hide-bottom');
        });
        $('.li-quote-7').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-7').addClass('show');
          $('.quote-text-7').removeClass('hide-bottom');
        });
        $('.li-quote-8').click(function (e) {
          e.stopPropagation();
          $(".show").addClass('hide-top');
          $(".hide-top").removeClass('show');
          $('.quote-text-8').addClass('show');
          $('.quote-text-8').removeClass('hide-bottom');
        });


      });


      $(document).ready(function () {

        // hide-top

        $('.li-quote-1').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-1').addClass('look');
          $('.dp-name-1').removeClass('hide-dp-bottom');
        });

        $('.li-quote-2').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-2').addClass('look');
          $('.dp-name-2').removeClass('hide-dp-bottom');
        });

        $('.li-quote-3').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-3').addClass('look');
          $('.dp-name-3').removeClass('hide-dp-bottom');
        });
        $('.li-quote-4').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-4').addClass('look');
          $('.dp-name-4').removeClass('hide-dp-bottom');
        });

        $('.li-quote-5').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-5').addClass('look');
          $('.dp-name-5').removeClass('hide-dp-bottom');
        });

        $('.li-quote-6').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-6').addClass('look');
          $('.dp-name-6').removeClass('hide-dp-bottom');
        });
        $('.li-quote-7').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-7').addClass('look');
          $('.dp-name-7').removeClass('hide-dp-bottom');
        });
        $('.li-quote-8').click(function (e) {
          e.stopPropagation();
          $(".look").addClass('hide-dp-top');
          $(".hide-dp-top").removeClass('look');
          $('.dp-name-8').addClass('look');
          $('.dp-name-8').removeClass('hide-dp-bottom');
        });


      });
    </script>

    <script>
      const slider = function () {
        const slides = document.querySelectorAll('.slide');
        const btnLeft = document.querySelector('.slider__btn--left');
        const btnRight = document.querySelector('.slider__btn--right');

        let curSlide = 0;
        const maxSlide = slides.length;

        const goToSlide = function (slide) {
          slides.forEach(
            (s, i) => (s.style.transform = `translateX(${100 * (i - slide)}%)`)
          );
        };

        // Next slide
        const nextSlide = function () {
          if (curSlide === maxSlide - 1) {
            curSlide = 0;
          } else {
            curSlide++;
          }

          goToSlide(curSlide);
        };

        const prevSlide = function () {
          if (curSlide === 0) {
            curSlide = maxSlide - 1;
          } else {
            curSlide--;
          }
          goToSlide(curSlide);
        };

        const init = function () {
          goToSlide(0);
        };
        init();

        // Event handlers
        btnRight.addEventListener('click', nextSlide);
        btnLeft.addEventListener('click', prevSlide);

        document.addEventListener('keydown', function (e) {
          if (e.key === 'ArrowLeft') prevSlide();
          e.key === 'ArrowRight' && nextSlide();
        });
      };
      slider();
    </script>

    



</body>

</html>