
   
    

   <div class="gog mt-5">
          <div class="container-fluid  about-style " id="aboutid" >
           
    <div class="row mt-5">
        <div class="col-md-10 col-12 mx-auto aos-init slider"  data-aos="zoom-in-up" data-aos-duration="1000" >
          <h1 class="text-center main-heading aos-init"  data-aos="zoom-in-up" data-aos-duration="1000" >About Us</h1>
          <p class="text-center sub-heading aos-init" data-aos="zoom-in-up" data-aos-duration="1000" >grow your business with us</p>
             <div class="row">
              <div class="lost2 col-md-6 col-12 hero-text aos-init"  data-aos="zoom-in-up" data-aos-duration="1000" >

            <div class="ag-app-slide-carousel_box">
             
              <div class="js-ag-app-slide-carousel_arr__next ag-app-slide-carousel_arr">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"></svg>
              </div>

             
          </div>
             
              
            </div>
            
          

      {{!---right side----}}

      <div class="col-md-6 col-12 nill d-flex justify-content-center align-items-center flex-column aos-init">
              <h1 class="osw"  data-aos="zoom-in-up" >WE ARE THE PROFESSIONAL DEVELOPER </h1>
              <p class ="osw"  data-aos="zoom-in-up" >Welcome To <span class="osw bold-style aos-init" data-aos="zoom-in-up" >Blackbull technologies</span>
              Your Number One Source For All Things. We're Dedicated To Giving You The Best Of Work, With A Focus On [Three Characteristics, Ie: Dependability,Customer Services And Uniquenessl. </p>
              <button id="nill2" class="btn-style btn-primary aos-init"  data-aos="zoom-in-up"  >read more</button>
            </div>
            
          
             </div>
        </div>
    </div>
          </div>
          
  </div>
    