<div class="container-fluid mt-5 company-style" id="companyid">
  <div class="row">
    <div class="col-md-12 col-12 mx-auto aos-init " data-aos="zoom-in-up" data-aos-duration="1000">
      <div class="company-style" id="companyid">
        <div class="row">
          <div class="col-md-12 col-12 mx-auto aos-init  company-style" data-aos="zoom-in-up" data-aos-duration="1000">

            <h1 class="text-center main-heading aos-init" data-aos="zoom-in-up" data-aos-duration="1000"
              data-aos-delay="100"> Welcome To Blackbull Technologies </h1>
            <h2 class="text-center sub-heading aos-init" data-aos="zoom-in-up" data-aos-duration="1000"
              data-aos-delay="50"> grow your business with us </h2>

          </div>
        </div>
        <div class="card-container">
          <div class="row mt-5">

            <div class="col-sm-12 col-md-6 col-lg-4 mb-4  aos-init" data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="card text-white card-has-bg click-col" style="background-image:url('../images/story.jpg');"
                style="background-size:cover;">
                <img class="card-img d-none" src="../images/story.jpg"
                  alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <h2 class="card-meta mb-2">Story & History</h2>
                    <h4 class="card-title mt-5 "><a class="text-white" herf="#"> we have been helping our clients grow
                        through our unparalleled services. We work shoulder to shoulder with our clients so that we can
                        build creative and strategic solutions to their challenges.</a></h4>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 aos-init" data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="card text-white card-has-bg click-col" style="background-image:url('../images/target1.jpg')">
                <img class="card-img d-none" src="../images/target1.jpg"
                  alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <h2 class="card-meta mb-2">Goal & Mission</h2>
                    <h4 class="card-title mt-5 "><a class="text-white" herf="#">Blackbull offers a comprehensive
                        approach with the speed and agility you need to propel your business forward. Our research-based
                        strategy means we kickoff our work with you by immersing ourselves in your vision and your
                        culture.</a></h4>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 aos-init" data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="card text-white card-has-bg click-col" style="background-image:url('../images/sucess.jpg');">
                <img class="card-img d-none" src="../images/sucess.jpg"
                  alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <h2 class="card-meta mb-2">Target & Success</h2>
                    <h4 class="card-title mt-5 "><a class="text-white" herf="#"> we have been helping our clients grow
                        through our unparalleled services. We work shoulder to shoulder with our clients so that we can
                        build creative and strategic solutions to their challenges.</a></h4>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row justify-content-center align-items-center image-responsive pt-5 ">
          <div class="section-background col-md-6 mb-md-0 mb-5 pr-5" data-aos="zoom-in-up" data-aos-duration="1000">

            <img src="../images/marketing.png" class="robot section-upper" alt="aboutimg">

          </div>
          <div class="col-md-6 overflow-hidden " class="mojii">
            <div class="company-strip aos-init " data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="box_line sec_color1">

                <p class="box-title1">High Quality</p>
                <p class="box-cont1">Quality is the key for any product to drive more user to the product</p>
              </div>
            </div>
            <div class="company-strip aos-init " data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="box_line sec_color2">
                <p class="box-title1">Low Cost</p>
                <p class="box-cont1">Cost is important factor of project's success</p>
              </div>
            </div>
            <div class="company-strip aos-init " data-aos="zoom-in-up" data-aos-duration="1000">
              <div class="box_line sec_color3">
                <p class="box-title1">Complete Business Solutions</p>
                <p class="box-cont1">We have all kind of software solution for your bussiness</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="project_bg mt-5 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000" class="lps">
      <div class="project_cen">
        <div class="container">
          <div class="row">
            <h2 class="our aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">Our Achievements</h2>
            <div class="count col-lg-10">
              <div class="px-2 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
                <h2 class="pic1" id="no1">100</h2>
                <p class="poll">Clients</p>
              </div>
              <div class="px-2 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
                <h2 class="pic1" id="no2">4</h2>
                <p class="poll">Glorious Years</p>
              </div>
              <div class="px-2 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
                <h2 class="pic1" id="no3">150</h2>
                <p class="poll">Projects</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

</div>

</div>