<div class="footla">

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>228,Ambika pinnacle,mota varchha,<br>near lajamani</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>8000698357 <br> 9978671070</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>BlackbullTechnology@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="footerdesk col-xl-6 col-lg-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="../images/blackbulllogo.png" class="img-fluid" id="norel"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">

                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-google"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-30" margin-left="100px" padding-left="40px">
                        <div class="footer-widget">
                            <div class="footer-widget-heading" align="center">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li align="center"><a href="/">Home</a></li>
                                <li align="center"><a href="#aboutid">about us</a></li>
                                <li align="center"><a href="#serviceid">services</a></li>
                                <li align="center"><a href="#careerid">career</a></li>
                                <li align="center"><a href="#portfolioid">portfolio</a></li>
                                <li align="center"><a href="#contactid">contact us</a></li>
                                <li align="center"><a href="#">Our Services</a></li>
                                <li align="center"><a href="#">Expert Team</a></li>
                                <li align="center"><a href="#">Contact us</a></li>
                                <li align="center"><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, All Right Reserved <a
                                    href="https://codepen.io/anupkumar92/">Blackbull Technology</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>