

<section class="map" style="text-align: center;">
  <h1 class="map-h1">Our Company location</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.839062158348!2d72.88363801596704!3d21.238229547454658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f0da8790d65%3A0xc0e25a18cf9ee103!2sBlackBull%20Technology!5e0!3m2!1sen!2sin!4v1659088991123!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>