


 <section id="portfolio" data-aos="zoom-in-up"  data-aos-duration="1000"  class="section-bg" >
    

        <header class="section-header">
          <h2 class="section-title">Our Portfolio</h2>
        </header>


 
    </section><!-- #portfolio -->
   
<div class="body-con" data-aos="zoom-in-up"  data-aos-duration="1000">
  <div class="carousel" data-aos="zoom-in-up"  data-aos-duration="1000">
  <div class="slides-port">
    <img class="port-image"
      src="/images/slider-1.png"
      alt="Stainless Steel"
    />
    <img class="port-image"
      src="/images/slider-2.png"
      alt="Army Green"
    />
    <img class="port-image"
      src="/images/slider-3.png"
      alt="Cranberry"
    />
    <img class="port-image"
      src="/images/slider-4.png"
      alt="Midnight Blue"
    />
  </div>
  <div class="overlays" data-aos="zoom-in-up"  data-aos-duration="1000">
    <div class="bar" style="--bar-color: #bdc3c7;"></div>
    <div class="bar" style="--bar-color: #218c74;"></div>
    <div class="bar" style="--bar-color: #dd6b7b;"></div>
    <div class="bar" style="--bar-color: #30465c;"></div>
  </div>
  <ul class="nav-linksp" data-aos="zoom-in-up"  data-aos-duration="1000">
    <li><a  class="nav-linkp">Emopin</a></li>
    <li><a  class="nav-linkp">Taska</a></li>
    <li><a   class="nav-linkp">Classic Snake Game</a></li>
    <li><a  class="nav-linkp">Quizer</a></li>
  </ul>
</div>
</div>