
{{!-- <div class="container mt-5">
            <div class="row eng-style">
                <div class="col about_content text-center aos-init" data-aos="zoom-in-up"  data-aos-duration="1000">
                    <h2 class="text-center main-heading1">Mobile App Development Services</h2>
                    <div class="bottom_line mx-auto">
                    </div>
                    </div>
            </div>
            </div> --}}



<div class="last">
<section id="career mb-5">
    <div class="section_pad">
        <div class="container">
            <div class="row">
                <div class="col about_content text-center aos-init" data-aos="zoom-in-up" data-aos-duration="1000">
                    <h2 class="service-h2">Mobile App Development Services</h2>
                    <div class="bottom_line mx-auto">

                    </div>
                    <p class="pulled col-lg-8 col-sm-10 col-12 mx-auto mb-5 aos-init" data-aos="zoom-in-up" data-aos-duration="1000" >At Blackbull Technology, we strive to develop mobile apps after careful planning and applying necessary methodology to create the perfect app for you.</p>
                    
                    </div>
                    </div>
                    <div class="marquee-wrapper ">
                        <marquee behavior="" direction="" loop="50"  Scrollamount=10>
                            <div class="main-marquee">

   <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Native mobile app development
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            04.11.2022
          </span>
        </div>
      </a>
    </div>

<div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Hybrid mobile app development
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            04.11.2022
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Mobile app maintenance
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            04.11.2022
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Third party integration
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            04.11.2022
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Mobile UI/UX development
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            30.11.2022
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Mobile app testing
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            30.11.2022
          </span>
        </div>
      </a>
    </div>


{{!--                         
                            <div class="career_bg">
                               
                                <p class="lrd">Native mobile app development</p>
                               
                               </div>
                                    <div class="career_bg">
                                       
                                        <p class="lrd">Hybrid mobile app development</p>
                                        </div>
                                       
                                       
                                            <div class="career_bg">
                                               
                                                <p class="lrd">Mobile app maintenance</p>
                                                </div>
                                               
                                               
                                                    <div class="career_bg">
                                                       
                                                        <p class="lrd">Third party integration</p>
                                                        </div>
                                                       
                                                       
                                                            <div class="career_bg">
                                                                
                                                                <p class="lrd">Mobile UI/UX development</p>
                                                                </div>
                                                                
                                                                    <div class="career_bg">
                                                                       
                                                                        <p class="lrd">Mobile app testing</p>
                                                                        
                                                                        </div> --}}
                                                                        </div>
                                                                        
                                                                    
</marquee>
                                                                       </div>
                                                                        </div>
                                                                        </div>
</section>
</div>

