
<section id="Testimonials" data-aos="zoom-in-up"  data-aos-duration="1000"  class="section-bg mt-5" >
    

        <header class="section-header mt-5">
          <h2 class="section-title">Our Testimonials</h2>
        </header>
   </section>


<section class="op-section op-eight-section section mt-5" id="section5">
   

 
   <!-- #portfolio -->
            <div class="ocean-2">
              <div class="wave-2"></div>
              <div class="wave-2"></div>
          </div>
            <div class="section-eight">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    
                    <div class="container-pe-quote left">
                      <div class="pp-quote li-quote-1">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Ben-1.png" alt="">  
                      </div>
                      <div class="pp-quote li-quote-2">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Ben-2.png" alt="">  
                      </div>
                      <div class="pp-quote li-quote-3">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Ben-3.png" alt="">  
                      </div>                  
                    </div>

                  </div>
                  <div  align="center" class="col-md-6 col-sm-6 text-align-center">
                    <div class="sec-eight-text-area">
                      <!-- <img class="" src="assets/images/website/Nana-4.png" alt="">
                      <h1>MADGE JENNINGS</h1> -->

                      <div class="container-dp-name">
                        
                        <div class="box-dpname dp-name-1 hide-dp-top">
                          <img align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Ben-1.png" alt="">
                          <h1  align="center" class="testimonial-h1">MADGE JENNINGS</h1>
                        </div>  

                        <div class="box-dpname dp-name-2 hide-dp-top">
                          <img  align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Ben-2.png" alt="">
                          <h1 align="center" class="testimonial-h1">MADGE JENNINGS</h1>
                        </div>

                        <div class="box-dpname dp-name-3 hide-dp-top">
                          <img  align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Ben-3.png" alt="">
                          <h1 align="center" class="testimonial-h1 ">MADGE JENNINGS</h1>
                        </div>

                        <div class="box-dpname dp-name-4 hide-dp-bottom">
                          <img align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Nana-4.png" alt="">
                          <h1  align="center" class="testimonial-h1 ">MADGE JENNINGS</h1>
                        </div>

                        <div class="box-dpname dp-name-5 hide-dp-top">
                          <img align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Nana-2.png" alt="">
                          <h1 align="center" class="testimonial-h1 ">MADGE JENNINGS</h1>
                        </div>

                        <div class="box-dpname dp-name-6 hide-dp-top">
                          <img align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Nana-3.png" alt="">
                          <h1 align="center" class="testimonial-h1 ">MADGE JENNINGS</h1>
                        </div>

                        <div class="box-dpname dp-name-7 look">
                          <img align="center" class="" src="http://nanaetben.fr/animation/assets/images/website/Nana-1.png" alt="">
                          <h1 align="center" class="testimonial-h1 ">MADGE JENNINGS</h1>
                        </div>

                      </div>
                      <!-- <img class="" src="assets/images/website/quote.png" alt="">                      
                      <p>Whether you enjoy city breaks or extended holidays in the sun, you
                      can always improve your travel experiences by staying in a small,
                      charming hotel, where the atmosphere is welcoming and friendly and
                    </p> -->
                    <div class="container-quote">

                      <div class="quote quote-text-1 hide-top"> 
                                        
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and        
                        </p>                        
                      </div>
                      <div class="quote quote-text-2 hide-top"> 
                                            
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>
                      <div class="quote quote-text-3 hide-top"> 
                                           
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>
                      <div class="quote quote-text-4 hide-bottom"> 
                                         
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>
                      <div class="quote quote-text-5 hide-top"> 
                                        
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>
                      <div class="quote quote-text-6 hide-top"> 
                        
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>
                      <div class="quote quote-text-7 show"> 
                                         
                          <p>Whether you enjoy city breaks or extended holidays in the sun, you
                          can always improve your travel experiences by staying in a small,
                          charming hotel, where the atmosphere is welcoming and friendly and
                        </p>                        
                      </div>

                    </div>

                    </div>          
                  </div>
                  <div class="col-md-3 col-sm-3"> 
                    <div class="container-pe-quote right">
                      <div class="pp-quote li-quote-4">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Nana-4.png" alt=""> 
                      </div>
                      <div class="pp-quote li-quote-5">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Nana-2.png" alt=""> 
                      </div>
                      <div class="pp-quote li-quote-6">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Nana-3.png" alt=""> 
                      </div>
                      <div class="pp-quote li-quote-7 active">
                        <img src="http://nanaetben.fr/animation/assets/images/website/Nana-1.png" alt=""> 
                      </div>
                    </div>

                  </div>
                </div>
              </div>              
            </div>
          </section>
